*{
    color: #eeeeee;
    /* 238 238 238 */
    color: #ffcccc;
    /* 255 204 204 */
    color: #fcb0b1;
    /* 252 176 177 */
    color: #ff9999;
    /* 255 153 153 */
    color: #ff6666;
    /* 255 102 102 */
}