/* --------------------------------------------- */
/* ................Default Setup---------------- */
/* --------------------------------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color:#5e5e5e;
    background-color: white;
    text-rendering: optimizeLegibility;
}

/* --------------------------------------------- */
/* .....REUSABLE COMPONENTS--------------------- */
/* --------------------------------------------- */

.btn{
    text-decoration: none;
    color: white;
    background-color: #ff6666;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 10px;
    width: 190px;
    display: inline-block;
    text-align: center;
    transition: all .3s;
}

.btn:hover,
.btn:active{
    background-color: #ff3333;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

h1, h2, h3{
    letter-spacing: 1px;
    text-transform: uppercase;
}

h1{
    font-size: 250%;
    font-weight: 600;
    word-spacing: 5px;
    color: white;
    line-height: 140%;
    margin-bottom: 50px;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

h2{
    color: #ff3333;
    font-size: 180%;
    font-weight: 700;
    text-align: center;
}

h2:after{
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #ff1111;
    margin: 0 auto;
    margin-top: 5px;
}

h3{
    padding-top: 10px;
    padding-bottom:10px;
    text-align: center;
    color: white;
    background-color: #ff3333;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 15px;
}

.p-long{
    text-align: center;
    color:#ff3333;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    margin-left: 15%;
    line-height: 140%;

}

.small-icon{
    color: red;
    font-size: 120%;
    margin-right: 10px;
}

section{
    padding: 50px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* --------------------------------------------- */
/* ................HEADER----------------------- */
/* --------------------------------------------- */

header{
    background-image: linear-gradient(45deg, rgba(238, 238, 238, 0.3), rgba(255, 102, 102, 0.3)), url("../img/background-image.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.logo{
    width: 300px;
    float: left;
    margin-left: 50px;
    margin-top: 0px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-right: 50px;
    margin-top: 120px;
}

.main-nav li{
    display: inline-block;
    margin-right: 50px;
    
}

.main-nav li a{
    text-decoration: none;
    color: white;
    font-size: 180%;
    font-weight: 700;
    padding: 5px 0;
    transition: border-bottom 0.1s;
}

.sticky{
    background-color: #ff6666;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    height: 7vh;
}

.sticky .logo{
    width: 50px;
    margin-top: 0px;
    margin-left: 20px;
}

.sticky .main-nav{
    margin-top: 10px;
}


.sticky .main-nav li a{
    font-size: 120%;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 5px solid white;
}

.heading-main-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -20%);
    width: 1140px;
}

h1{
    text-transform: uppercase;
    font-size: 250%;
    font-weight: 600;
    letter-spacing: 5px;
    word-spacing: 10px;
    color: white;
    line-height: 140%;
    margin-bottom: 50px;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: #ff6666;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 30px;
    width: 150px;
    display: inline-block;
    text-align: center;
    transition: all .3s;
}

.btn:hover,
.btn:active{
    background-color: #ff3333;
}

/* --------------------------------------------- */
/* ................FAMILY----------------------- */
/* --------------------------------------------- */

.family-section{
    height: 100vh;
}

.family-section .row{
    margin-top: 50px;
}

.family-picture{
    position: relative;
    margin-top: 50px;
}

.family-picture img{
    width: 90%;
    border-radius: 20px;
    border: 4px solid #ff6666;
    box-shadow: 2px 2px 15px 0px #ff6666;
    transition: all .5s;
   
}

.picture-title{
    position: absolute;
    top: 50%;
    left: 45%;
    color:white;
    transform: translate(-55%, 100%);
    opacity: 0;
    transition: all .5s;
}

.family-picture:hover img, 
.family-picture:active img{
    filter: blur(2px) brightness(60%);
}

.family-picture:hover .picture-title,
.family-picture:active .picture-title{
    transform: translate(-55%, -50%);
    opacity: 1;
}

/* --------------------------------------------- */
/* ................FEE-DONATE------------------- */
/* --------------------------------------------- */

.fee-section{
    background-color: #ffdddd;
    height: 100vh;
}

.fee-section h2, 
.donate-section h2{
    margin-top: 70px;
}

.fee-box{
    border-radius: 15px;
    width: 90%;
    background-color: white;
    box-shadow: 2px 2px 10px pink ;
    height: 350px;
    position: relative;
}

.fee-box-text{
    font-size: 120%;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.fee-box ul li{
    list-style: none;
    margin: 10px;
    margin-left: 15%;
    position: relative;
}

.fee-box form div{
    list-style: none;
    margin: 10px;
    margin-left: 15%;
    position: relative;
}

.fee-box ul li input{
    width: 55%;
    position: absolute;
    right: 12%;
    top: -5%;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #ff6666;
    text-align: left;
    padding: 5px 10px;
}

.fee-box form div input{
    width: 55%;
    position: absolute;
    right: 12%;
    top: -5%;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #ff6666;
    text-align: left;
    padding: 5px 10px;
}

.fee-box .btn{
    width: 70%;
    position: absolute;
    bottom: 8%;
    left: 6%;
    font-size: 120%;
    font-weight: 700;
    border: none;
    outline: white;
}



.donate-section{
    height: 100vh;
}

/* --------------------------------------------- */
/* ................TESTIMONIALS----------------- */
/* --------------------------------------------- */

.testimonials-section{
    background-color: #ffcccc;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

}

.testimonials-section h2{
    margin-bottom: 20px;
    margin-top: 70px;
}

.testimonials-section .p-long{
    margin-bottom: 70px;
}

blockquote{
    position: relative;
    width: 90%;
    height: 200px;
    font-style: italic;
    line-height: 130%;
    color: white;
    border: 5px solid #ff6666;
    padding: 10px;
    border-radius: 10px;

}

cite{
    position: absolute;
    bottom: 5%;
    display: block;
    color: white;
    font-size: 120%;
    font-weight: 700;
    margin-top: 25px;
}

cite img{
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ff6666;
    vertical-align: middle;
    margin-right: 20px;
}

/* --------------------------------------------- */
/* ................SPONSORS--------------------- */
/* --------------------------------------------- */

.sponsors-section{
    background-color: white;
    height: 100vh;
}

.sponsors-section h2{
    margin-bottom: 150px;
    margin-top: 100px;
}

.sponsors-showcase li{
    list-style: none;
    float: left;
    width: 25%;
    text-align: center;
    margin-bottom: 20px;
}

.sponsors-logo{
    width: 150px;
    border: 5px solid #ff6666;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #ffcccc;
    transition: all 1s;
}

.sponsors-showcase li .sponsors-logo:hover,
.sponsors-showcase li .sponsors-logo:active{
    transform: scale(1.1);
    cursor: pointer;
}
figcaption{
    color: #ff6666;
    font-size: 120%;
    font-weight: 900;
    cursor: pointer;
}

/* --------------------------------------------- */
/* ................CONTACT----------------------- */
/* --------------------------------------------- */

.contact-section{
    background-image: linear-gradient(45deg, rgba(238, 238, 238, 0.3), rgba(255, 102, 102, 0.3)), url("../img/background-image6.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.contact-section h2{
    margin-bottom: 100px;
    margin-top: 70px;
    color: white;
}

.contact-section h2::after{
    background-color: white;
}

.contact-section li{
    list-style: none;
    font-size: 100%;
    font-weight: 600;
    margin-bottom: 10px;
}

.social-icons li{
    font-size: 200%;
    float: left;
    margin: 20px;
    transition: all 1s;
    color: white;
}

.contact-section form{
    background-color: rgba(255, 102, 102, 0.2);
    border: 5px solid white;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 50px;
}

.contact-section label{
    color: white;
    font-size: 120%;
}

.contact-section form input{
    height: 30px;
    width: 90%;
    border: 5px solid white;
    border-radius: 15px;
    padding: 5px 10px;
    outline: none;
}

.contact-section textarea{
    height: 100px;
    width: 90%;
    border: 5px solid white;
    border-radius: 15px;
    padding: 5px 10px;
    outline: none;
    resize: none;
}

.information{
    margin-top: 50px;
    word-spacing: 2px;
    line-height: 200%;
    color: white;
}

.information i{
    font-size: 150%;
    margin-right: 20px;
    transition: all .3s;
}

.pointer{
    margin-right: 30px;
    margin-left: 4px;
}

.contact-section i:hover,
.contact-section i:active{
    transform: scale(1.2);
    color: #ff3333;
    cursor: pointer;
}

.contact-section .btn{
    font-size: 120%;
    font-weight: 700;
    height: 60px;
}

/* --------------------------------------------- */
/* ................FOOTER----------------------- */
/* --------------------------------------------- */

footer{
    text-align: center;
    background-color: #494949;
    color: white;
    padding: 20px;
}

