
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Result</title>
        <link rel="apple-touch-icon" sizes="180x180" href="resources/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="resources/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="resources/favicons/favicon-16x16.png">
        <link rel="manifest" href="resources/favicons/site.webmanifest">
        <link rel="mask-icon" href="resources/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="resources/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="resources/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <script src="https://kit.fontawesome.com/bbf0daf20d.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="vendors/css/grid.css">
        <link rel="stylesheet" href="resources/css/donatesearchresult.css">
    </head>
    <body>
        <header>
            <h1>Result</h1>
        </header>
        <section class="body-section">
            <div class="row col-name-row">
                <div class="col span-1-of-3">
                    <h3 class="family-code">Code</h3>
                </div>
                <div class="col span-2-of-3">
                    <h3 class="host-name">Name</h3>
                </div>
            </div>
            <ul class="list">
                <li th:each="result : ${resultsDonate}" class="tuple">
                    <a th:href="${result.link}">
                        <div class="row">
                            <div class="col span-1-of-3">
                                <h5 class="family-code" th:text="${result.id}">D001</h5>
                            </div>
                            <div class="col span-2-of-3">
                                <h5 class="host-name" th:text="${result.TenDongGop}">Ủng hộ đồng bảo miền Trung</h5>
                            </div>
                        </div>
                    </a>
                </li>
<!--                <li class="tuple">-->
<!--                    <a href="/donateprofile">-->
<!--                        <div class="row">-->
<!--                            <div class="col span-1-of-3">-->
<!--                                <h5 class="family-code">D001</h5>-->
<!--                            </div>-->
<!--                            <div class="col span-2-of-3">-->
<!--                                <h5 class="host-name">Ủng hộ đồng bảo miền Trung</h5>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="tuple">-->
<!--                    <a href="/donateprofile">-->
<!--                        <div class="row">-->
<!--                            <div class="col span-1-of-3">-->
<!--                                <h5 class="family-code">D001</h5>-->
<!--                            </div>-->
<!--                            <div class="col span-2-of-3">-->
<!--                                <h5 class="host-name">Ủng hộ đồng bảo miền Trung</h5>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="tuple">-->
<!--                    <a href="/donateprofile">-->
<!--                        <div class="row">-->
<!--                            <div class="col span-1-of-3">-->
<!--                                <h5 class="family-code">D001</h5>-->
<!--                            </div>-->
<!--                            <div class="col span-2-of-3">-->
<!--                                <h5 class="host-name">Ủng hộ đồng bảo miền Trung</h5>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="tuple">-->
<!--                    <a href="/donateprofile">-->
<!--                        <div class="row">-->
<!--                            <div class="col span-1-of-3">-->
<!--                                <h5 class="family-code">D001</h5>-->
<!--                            </div>-->
<!--                            <div class="col span-2-of-3">-->
<!--                                <h5 class="host-name">Ủng hộ đồng bảo miền Trung</h5>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="tuple">-->
<!--                    <a href="/donateprofile">-->
<!--                        <div class="row">-->
<!--                            <div class="col span-1-of-3">-->
<!--                                <h5 class="family-code">D001</h5>-->
<!--                            </div>-->
<!--                            <div class="col span-2-of-3">-->
<!--                                <h5 class="host-name">Ủng hộ đồng bảo miền Trung</h5>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="tuple">-->
<!--                    <a href="/donateprofile">-->
<!--                        <div class="row">-->
<!--                            <div class="col span-1-of-3">-->
<!--                                <h5 class="family-code">D001</h5>-->
<!--                            </div>-->
<!--                            <div class="col span-2-of-3">-->
<!--                                <h5 class="host-name">Ủng hộ đồng bảo miền Trung</h5>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="tuple">-->
<!--                    <a href="/donateprofile">-->
<!--                        <div class="row">-->
<!--                            <div class="col span-1-of-3">-->
<!--                                <h5 class="family-code">D001</h5>-->
<!--                            </div>-->
<!--                            <div class="col span-2-of-3">-->
<!--                                <h5 class="host-name">Ủng hộ đồng bảo miền Trung</h5>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="tuple">-->
<!--                    <a href="/donateprofile">-->
<!--                        <div class="row">-->
<!--                            <div class="col span-1-of-3">-->
<!--                                <h5 class="family-code">D001</h5>-->
<!--                            </div>-->
<!--                            <div class="col span-2-of-3">-->
<!--                                <h5 class="host-name">Ủng hộ đồng bảo miền Trung</h5>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="tuple">-->
<!--                    <a href="/donateprofile">-->
<!--                        <div class="row">-->
<!--                            <div class="col span-1-of-3">-->
<!--                                <h5 class="family-code">D001</h5>-->
<!--                            </div>-->
<!--                            <div class="col span-2-of-3">-->
<!--                                <h5 class="host-name">Ủng hộ đồng bảo miền Trung</h5>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
                
            </ul>
        </section>

        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="vendors/js/jquery.waypoints.min.js"></script>
        <script type="text/javascript" src="resources/js/donatesearchresult.js"></script>
    </body>
</html>