<!DOCTYPE html>
<html>
    <head>
        <title>Result</title>
        <link rel="apple-touch-icon" sizes="180x180" href="resources/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="resources/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="resources/favicons/favicon-16x16.png">
        <link rel="manifest" href="resources/favicons/site.webmanifest">
        <link rel="mask-icon" href="resources/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="resources/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="resources/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <script src="https://kit.fontawesome.com/bbf0daf20d.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="vendors/css/grid.css">
        <link rel="stylesheet" href="resources/css/familysearchresult.css">
    </head>
    <body>
        <header>
            <h1>Result</h1>
        </header>
        <section class="body-section">
            <div class="row col-name-row">
                <div class="col span-1-of-4">
                    <h3 class="family-code">Code</h3>
                </div>
                <div class="col span-1-of-4">
                    <h3 class="host-name">Name</h3>
                </div>
                <div class="col span-1-of-4">
                    <h3 class="number-of-members">Number of Members</h3>
                </div>
                <div class="col span-1-of-4">
                    <h3 class="street">Street</h3>
                </div>
            </div>
            <ul class="list">
                <li class="tuple">
                    <a href="/familyprofile">
                        <div class="row">
                            <div class="col span-1-of-4">
                                <h5 class="family-code">H0001</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="host-name">Trần Thế Anh</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="number-of-members">4</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="street">Giải Phóng</h5>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="tuple">
                    <a href="/familyprofile">
                        <div class="row">
                            <div class="col span-1-of-4">
                                <h5 class="family-code">H0002</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="host-name">Phạm Xuân Lộc</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="number-of-members">3</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="street">Trường Chinh</h5>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="tuple">
                    <a href="/familyprofile">
                        <div class="row">
                            <div class="col span-1-of-4">
                                <h5 class="family-code">H0003</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="host-name">Đồng Hải Nam</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="number-of-members">5</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="street">Đại Cồ Việt</h5>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="tuple">
                    <a href="/familyprofile">
                        <div class="row">
                            <div class="col span-1-of-4">
                                <h5 class="family-code">H0004</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="host-name">Nguyễn Thị Hải Yến</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="number-of-members">3</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="street">Cầu Giấy</h5>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="tuple">
                    <a href="/familyprofile">
                        <div class="row">
                            <div class="col span-1-of-4">
                                <h5 class="family-code">H0005</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="host-name">Phạm Đức Đạt</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="number-of-members">3</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="street">Đồng Tâm</h5>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="tuple">
                    <a href="/familyprofile">
                        <div class="row">
                            <div class="col span-1-of-4">
                                <h5 class="family-code">H0006</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="host-name">Lê Thị Chung</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="number-of-members">3</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="street">Giải Phóng</h5>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="tuple">
                    <a href="/familyprofile">
                        <div class="row">
                            <div class="col span-1-of-4">
                                <h5 class="family-code">H0007</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="host-name">Bùi Hải Sơn</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="number-of-members">3</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="street">Nguyễn Trãi</h5>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="tuple">
                    <a href="/familyprofile">
                        <div class="row">
                            <div class="col span-1-of-4">
                                <h5 class="family-code">H0008</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="host-name">Trần Minh Quang</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="number-of-members">8</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="street">Trần Phú</h5>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="tuple">
                    <a href="/familyprofile">
                        <div class="row">
                            <div class="col span-1-of-4">
                                <h5 class="family-code">H0009</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="host-name">Lê Đức Tùng</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="number-of-members">3</h5>
                            </div>
                            <div class="col span-1-of-4">
                                <h5 class="street">Trường Chinh</h5>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </section>

        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="vendors/js/jquery.waypoints.min.js"></script>
        <script type="text/javascript" src="resources/js/familysearchresult.js"></script>
    </body>
</html>